body{
    font-size:20pt;
}
header{
    color: yellow;
    background-color: blue;
    font-size: 36pt;
}
footer{
    color: black;
    background-color: lightgrey;
    padding: 2px 10px;
}
/*Flex container declaration*/
#flex-container {
    position: sticky;
    top: 0;
    width: 500px;
    display: flex;
    padding: 5px;
    flex-direction: row;
    flex-wrap: none;
    height: 52px;
}
/*Individual Item declaration*/
nav div{
    background-color: lightskyblue;
    padding: 5px;
}
a:link, a:visited {
    background-color: yellow;
    color: blue;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: blue;
    color: yellow;
}
/*Reverses the Ccolors of the current page to show which page we are on.*/
body#home #home a{
    background-color: blue;
    color: yellow;
} 
body#page1 #page1 a{
    background-color: blue;
    color: yellow;
}
body#page2 #page2 a{
    background-color: blue;
    color: yellow;
}