html{
    font-size: calc(18px + (8/5)/4vw); 
    font-family: 'Times New Roman', Times, serif;
  }
  h1{
    font-size: 2rem;
    font-weight: bold;
    color: red;
  }  
  h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
  }  
  header, footer{
    background-color:lightcyan;
    padding: 1px 1px 1px 1px;
    clear: both;
  }
  section{
    height: 100%;
    margin: 0px 5px 5px 5px;
    padding: 0px 5px 5px 5px;
    border: 1px solid black;
  }
 #left-col{
    left: 5px;
    height: 100%;
    margin: 5px;
    padding: 5px;
    max-width: 270px;
    min-width: 200px;
    float: left;
    background-color: lightcyan;
    overflow: auto;
    border: 1px solid black;
  }
  #main{
    margin-top: 5px;
    background-color: lightyellow;
    overflow: auto;
    border: 1px solid black;
  }
  #grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .cell{
    background-color: pink;
    /*padding: 3px 10px;*/
    border: 1px solid black;
  }