#top-left{
left: 0px;
top: 0px;
/*height: 250px;
width: 250px;*/
float: left;
background-color: lightyellow;
padding: 25px;
border: 2px solid blue;
}
#top-right {
/*height: 250px;
width: 250px;*/
float: left;
background-color: lightskyblue;
padding: 12px;
border: 2px solid blue;
}
#bottom-left {
clear: both;
left: 0px;
top: 400px;
height: 250px;
width: 250px;
float: left;
background-color: lightskyblue;
padding: 24px;
border: 2px solid blue;
}
#bottom-right {
height: 250px;
width: 250px;
float: left;
background-color: lightgreen;
padding: 24px;
border: 2px solid blue;
}
#links {
    left: 20px;
    padding: 0px 20px;
}